<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lab13">

    <!-- Разрешения, если нужно (для данного проекта не требуются) -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="lab13"
        android:theme="@style/Theme.AppCompat.Light">

        <!-- Главная активность -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="lab13"
            android:theme="@style/Theme.AppCompat.Light"
            android:configChanges="keyboardHidden|orientation|screenSize">

            <!-- Указываем главную активность -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>